/* Default styles */
.tabs-container {
    display: flex;
    cursor: pointer;
  }
  
  .tab {
    padding: 10px;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }
  
  .tab.active {
    border-bottom: 2px solid #fff;
  }
  
  .tab:hover {
    color: #ddd;
  }
  
  
  /* Mobile styles for medium screens */
  @media (min-width: 481px) and (max-width: 767px) {
    .tab {
      padding: 10px;
      font-size: 16px;
    }
  }
  
  /* Tablet styles for larger screens */
  @media (min-width: 768px) and (max-width: 1024px) {
    .tab {
      padding: 12px;
      font-size: 18px;
    }
  }
  
  /* Desktop styles for larger screens */
  @media (min-width: 1025px) {
    .tab {
      padding: 14px;
      font-size: 20px;
    }
  }
  
  